
<style>
    .td_yellow {
        background-color: yellow;
        text-align: center;
        font-weight: bold;
    }

    .td_Red {
        background-color: red;
        text-align: center;
        font-weight: bold;
    }

    .td_green {
        background-color: green;
        text-align: center;
        color: antiquewhite;
        font-weight: bold;
    }
    /*td {
        border: 1px solid black;
    }*/
    .border-1 {
        border: 1px solid black;
        text-align:center;
    }

    .no_border{
        border:none !important;
        text-align:center;
    }
</style>
<div class="page-content fade-in-up">

    <div class="row">
        <div class="col-lg-12">

            <ul class="nav navbar-toolbar sec-left-resource">
                <li>
                    <i class="fa fa-clone" aria-hidden="true"></i><strong>Projects</strong>
                </li>
                <li class="show_prj">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </li>
                <li class="show_prj">
                    @if (User.IsInRole("Project Manager"))
                    {
                        <div class="ibox dropdown-resources mb-0">
                            <select class="form-control border-0 text-capitalize" id="drpProject">
                                <option value="0">Select Project</option>
                                @foreach (var item in ViewBag.ProjectName)
                                {
                                    <option class="text-capitalize" value="@item.Project_ID">@item.ProjectName</option>
                                }
                            </select>
                        </div>
                    }
                    
                </li>

            </ul>
        </div>
    </div>
    </div>

    <div class="tab-pane fade-in-up" style="display:none" id="RiskAssessmentEstimation" role="tabpanel">

        <div class="form-row py-0 pt-1">
            <div class="col-lg-12">
                <div class="ibox projectplan">
                    <div class="ibox-head">
                        <div class="ibox-title">
                            Risk Assessment Report
                        </div>
                    </div>
                    <div class="ibox-body">
                        <div class="row">


                            <div class="col-lg-12">

                                <table align="left" bordercolor="" class="col-lg-10">
                                    <tr>
                                        <th>
                                            Probability
                                        </th>
                                        <th colspan="5" style="text-align:center;background-color:gray;color:white">
                                            Consequence
                                        </th>
                                    </tr>
                                    <tr class="tr_colour td_gray font-weight-bold">
                                        <td class="border-1"></td>
                                        <td class="border-1">1</td>
                                        <td class="border-1">2</td>
                                        <td class="border-1">3</td>
                                        <td class="border-1">5</td>
                                        <td class="border-1">8</td>

                                    </tr>
                                    <tr class="tr_colour">
                                        <td class="td_gray border-1 ">60 - 80 %</td>
                                        <td class="td_yellow border-1" id="PC51"></td>
                                        <td class="td_yellow border-1" id="PC52"></td>
                                        <td class="td_Red border-1" id="PC53"></td>
                                        <td class="td_Red border-1" id="PC54"></td>
                                        <td class="td_Red border-1" id="PC55"></td>

                                        <td class="no_border">Almost certainly</td>
                                    </tr>
                                    <tr class="tr_colour">
                                        <td class="td_gray border-1">40 - 60 %</td>
                                        <td class="td_green border-1" id="PC41"></td>
                                        <td class="td_yellow border-1" id="PC42"></td>
                                        <td class="td_yellow border-1" id="PC43"></td>
                                        <td class="td_Red border-1" id="PC44"></td>
                                        <td class="td_Red border-1" id="PC45"></td>

                                        <td class="no_border">Likely</td>
                                    </tr>
                                    <tr class="tr_colour">
                                        <td class="td_gray border-1">20 - 40%</td>
                                        <td class="td_green border-1" id="PC31"></td>
                                        <td class="td_yellow border-1" id="PC32"></td>
                                        <td class="td_yellow border-1" id="PC33"></td>
                                        <td class="td_Red border-1" id="PC34"></td>
                                        <td class="td_Red border-1" id="PC35"></td>

                                        <td class="no_border">Possible</td>
                                    </tr>
                                    <tr class="tr_colour">
                                        <td class="td_gray border-1">10 - 20%</td>
                                        <td class="td_green border-1" id="PC21"></td>
                                        <td class="td_green border-1" id="PC22"></td>
                                        <td class="td_yellow border-1" id="PC23"></td>
                                        <td class="td_yellow border-1" id="PC24"></td>
                                        <td class="td_Red border-1" id="PC25"></td>

                                        <td class="no_border">Rarely</td>
                                    </tr>
                                    <tr class="tr_colour">
                                        <td class="td_gray border-1"> less than 10%</td>
                                        <td class="td_green border-1" id="PC11"></td>
                                        <td class="td_green border-1" id="PC12"></td>
                                        <td class="td_green border-1" id="PC13"></td>
                                        <td class="td_green border-1" id="PC14"></td>
                                        <td class="td_yellow border-1" id="PC5"></td>

                                        <td class="no_border">Unlikely</td>
                                    </tr>
                                    <tr>
                                        <td class="no_border"></td>
                                        <td class="no_border">Insignificant</td>
                                        <td class="no_border">Minor</td>
                                        <td class="no_border">Moderate</td>
                                        <td class="no_border">Major</td>
                                        <td class="no_border">Disaster</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>

       
        $("#drpProject").change(function () {
            var PrjId = $(this).val();
            if (PrjId != 0) {

                $("#RiskAssessmentEstimation").show();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("PMRiskAssessmentDiagram", "Report")',
                    data: {Project_Id: PrjId},
                    dataType: "json",
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#PC11").text(data.PC11);
                        $("#PC12").text(data.PC12);
                        $("#PC13").text(data.PC13);
                        $("#PC14").text(data.PC14);
                        $("#PC15").text(data.PC15);

                        $("#PC21").text(data.PC21);
                        $("#PC22").text(data.PC22);
                        $("#PC23").text(data.PC23);
                        $("#PC24").text(data.PC24);
                        $("#PC25").text(data.PC25);

                        $("#PC31").text(data.PC31);
                        $("#PC32").text(data.PC32);
                        $("#PC33").text(data.PC33);
                        $("#PC34").text(data.PC34);
                        $("#PC35").text(data.PC35);

                        $("#PC41").text(data.PC41);
                        $("#PC42").text(data.PC42);
                        $("#PC43").text(data.PC43);
                        $("#PC44").text(data.PC44);
                        $("#PC45").text(data.PC45);

                        $("#PC51").text(data.PC51);
                        $("#PC52").text(data.PC52);
                        $("#PC53").text(data.PC53);
                        $("#PC54").text(data.PC54);
                        $("#PC55").text(data.PC55);
                    },
                    error: function (a) {
                        alert(a);
                    }
                });

            }
            else {
                $("#RiskAssessmentEstimation").hide();
            }
            

        });

        $(document).ready(function () {
            $(".td_green").text('5');
        });
    </script>
