<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit Uploadedppt
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Upload" value="~/Assets/PhotoUpload/" />
    <add key="Upload_filePath" value="~/Assets/UploadedFiles/" />
    <add key="ActivityTemplate_filePath" value="~/Assets/Uploadedppt/" />
    <add key="Upload_ppt" value="/Assets/PhotoUpload/" />
    <add key="CopyImage" value="~/Assets/img/" />
    <add key="Temp_path" value="~/Assets/Temp/" />
    <add key="Logo_Path" value="~/Assets/img/promantus-new-logo.PNG" />
    <add key="ProAcc_Logo_Path" value="~/Assets/img/logos/logo_small.PNG" />
    <add key="Server_Path" value="http://123.176.34.15:4041/" />
    
    <!--FILE-->
    <add key="Error_filePath" value="~/Assets/Log/" />

    <!--Mail Settings-->

    <add key="Mail_Client" value="smtp.office365.com" />
    <!--<add key="Mail_UserName" value="u95tgcCrRbWSVpW/dYu9UluJThcYeUU4WzlFFld43EE=" />
    <add key="Mail_Password" value="DImgJIkQCiG+E82MNt8eMw==" />-->

    <add key="Mail_UserName" value="u95tgcCrRbWSVpW/dYu9UluJThcYeUU4WzlFFld43EE=" />
    <add key="Mail_Password" value="HpY2BWFN939D2Zw496yUCg==" />
    
    <add key="Mail_FolderPath" value="~/Assets/MailTemplate/" />
    <add key="Mail_CheckInterval" value="10000" />
    <add key="Mail_Port" value="587" />
    <add key="Mail_SSL" value="true" />
    <add key="Mail_EnableTest" value="false" />
    <add key="MailRunStatus" value="true" />
    <add key="PDFRunStatus" value="true" />
    <add key="Mail_TestToID" value="manogekumar@promantus.com" />

    <!--CRYSTAL REPORT-->
    <add key="SERVERNAME" value="zwWmsga5RLm3bDAEY8yqbO0jXM2ZlWb6bVZBBi/h6WM=" />
    <add key="DATABASE" value="311HImk3EOuXbqQXPa0hvg==" />
    <add key="USERID" value="c/ehaxyIOy/woBmng13KKg==" />
    <add key="PASSWORD" value="R85NJq+Obo36EgYMK3AqqQ==" />

    <add key="INTEGRATEDSECURITY" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="rptLocation" value="~/Asset/images/CrystalReport.rpt" />
    <add key="OutputPath_pdf" value="~/Asset/UploadedFiles/Temp/QuestionnairePdf/" />

    <add key="Mail_ToAddress" value="akhil@promantus.com;sasidhar@promantus.com;" />
    <add key="Mail_CCAddress" value="manogekumar@promantus.com;gokul@promantus.com;" />


    <add key="Enc" value="false" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" />-->
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" requestValidationMode="2.0" />
    <sessionState timeout="20"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="login/Login"></forms>
    </authentication>
    <roleManager defaultProvider="userRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="userRoleProvider" type="PROACC2.BL.General.UserRoleProvider" />
      </providers>
    </roleManager>
    
    <!--Error-->
    <!--<customErrors mode="On"></customErrors>-->
    <!--<customErrors mode="RemoteOnly"/>-->
    <!--<customErrors mode="On" defaultRedirect="~/CustomError/Index" >-->
    <customErrors mode="On" defaultRedirect="~/login/logout" redirectMode="ResponseRedirect" >
      <error statusCode="404" redirect="~/CustomError/NotFound" />
    </customErrors>
    

    <!--<customErrors mode="on" defaultRedirect="~/login/logout/" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/CustomError/SqlConnectionError/" />
    </customErrors>-->
   
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="MysqlPath" connectionString="xMRXdvtMgbN8pOTiKvLlXj1JuRFCS/fE4wxNH5UouWKGWiz0otbEcy3pSkNhBYceXgAum3shIADmb+cONyo9K70D/CE0pSUCmfJJNB6rAFRd35YQDbf3kPWZEwoiNGhcDftSf1Db3TB2wFqZA0rgJXI03K+QnXaT4ltgODKy84u0cRtPxSqtUr7xChS64CAP" />
   
    <!--DEV-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHogXmbDH+qmBEJ6j2LXd5FW1AHh5ycxreHTfdwIHWFPtAHe202Xb5aaaEX5sJmgpwiI4LrQQcthg+P/MhnYEfeF18OJ6ZiJuZUqanqG5fdyoWn1mkHx01th3IkiGZTAbwbBiYTgDifG2VMdJGRzwrk0=" />-->
    <!--<add name="DBconnection" connectionString="TLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHgH9taNwYeaYo9ymJK8G2hRv23uSg18l+RMW504mVx208q0MUl9UFr0gYVu2mny6e6MlrgJipk5LxtCYb2TycVgGgsoBETgcuX5zdKgsymzvOst1FAKgcwDPVPZAo6Gi1VkCrn3rA/GORNTbCek07kA=" />-->
    
    <!--DEV-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHY0vK/1s00t3TlZveCaKCcUFRWWMi7pCBPlTfie5Bny/A/Ia/VeQKkFmqqcgBJ8cD9IExYnvzmzzMa0ym18BL4/xgQjiruj61YtmCOCYQE1O3msVovnZymfq6fIY3OVRxRmmHmWlomyYARG2zB1s/LlOK+F/cu20/zkg6BMbZDG2E=" />-->


    <!--PROACC2DEPLOY-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHsK6yUzhQHp6rP49fdfWG9FolHq8yzi1f8J7hj14dSMdbK48MPt0yTvHfQudzk1U4Zmh9x3MFnezTV9SO3ZYeu/Z1iIBU4lz79seHEyaeqhEy6eoo2gtEKys+tmiaj74o1OdForLv1w3OafA+EtGPBQ=" />-->

    <!--BASE PROACC2BASE-->
    <!--<add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHkzPo96zUdFWXcF+t/JvWu00pxd7csiEbdMq4VSzFxguMHrWPNnXV8N0+YsRngJUp9drDmOctnGmjd84boO19WPDnrGXpA1C1cMoO6ZNGEqxp3fGl9bM7HEbhkA3gOI+jGMvVdiHB1NPrYmvjtGdfDI=" />-->

    <!--QA PROACC2QA-->
    <add name="DBconnection" connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHiXGNcMtayOlmSDtGGcCM2hKZBEvsarexlXS9AOzGulljtgt1RCc01UevN1VoVguvyd8GszjtrYIVxHpopgXDe5OQwgocs2FVemG7AUg16rsE2YM8hzHY2BUOdGVSNp2d9b39cfmHTvw9UfvOi2SVFE=" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="900000000" />
           </webServices>
       </scripting>
</system.web.extensions>
</configuration>

<!--Version 2.0 Closed on 12-01-2021--> 
