<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="DBconnection"
      connectionString="Ccf6ojIw9Ipgtxr3zSy+32wfCPxjHL0NVYh8t6exQ1+/CnKRq16hCrgBe6V19Tym/Y3ICb5LiJog8Fx//jIUHPvDqT06H0UlxjeWmT5odS7hAnOsrEh/EOS3u7Hp/wfvPJ5cz+37hksy0fYUC5E8paU4+Tw3gRXox9PoUgDg3+keSat1gnxqDNXbuUfLC5pKzYtsfHjBATspny//73yMIQ=="
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>