<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->  
    <!--<connectionStrings>
      <add name="DBconnection" 
        connectionString="XDZYm1GzrsNUyONI5TUXYi4Sw10hBQobTLnJMoWXK2PkRir1+QFTRfP5ruBLqCHYIL7ONdfBRKhEzCzeYK6sHsK6yUzhQHp6rP49fdfWG9FolHq8yzi1f8J7hj14dSMdbK48MPt0yTvHfQudzk1U4Zmh9x3MFnezTV9SO3ZYeu/Z1iIBU4lz79seHEyaeqhEy6eoo2gtEKys+tmiaj74o1OdForLv1w3OafA+EtGPBQ=" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>-->
  <appSettings>
    <add key="Upload_ppt" value="/PROACC2QA/Assets/PhotoUpload/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DBconnection"
      connectionString="2JaSoX0Ub/oqsfkOS31yR3gAfjMiS2oGwXBGO5CnvFNzLJvPNUglJ/TJMsLaONgwLHoXvi91dcjENghcKf8tJprNO/Zzgm0q886gkT/y/9b7ZhTJiMXeBYp7qHW5bLO/9xQzqwin44I5oCUPPXy3BeYJDzo8Mge8UOJgmE/OKFpSsCffQ8Wjq5aZ6FJ317AB"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>