
@{
    ViewBag.Title = "SendMailToCustomer";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@*<a class="card-title">ProAcc Survey Mail</a>
<div style="padding:1em;">

    <hr />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label col-md-4 required">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="ToName" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblName" style="color:red">&nbsp;</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="ToEmail" />
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<span class="Class_span" id="lblEmail" style="color:red">&nbsp;</span>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-12">
                <button type="button" id="btnsendMailCreate" class="btn btn-primary ld-ext-right">
                    Send
                    <div class="ld ld-ring ld-spin"></div>
                </button>
            </div>            
        </div>
    </div>
</div>*@

<div class="container pt-lg-5">
    <div class="d-flex justify-content-center">
        <div class="ibox w-50">
            <div class="ibox-head d-flex justify-content-center border-0 ">
                <div class="ibox-title text-center semibold">
                    <h5 class="font-weight-bold">ProAcc Survey Mail</h5>
                </div>
            </div>
            <div class="ibox-body">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="ToName" placeholder="Name">
                    <span class="Class_span" id="lblName" style="color:red">&nbsp;</span>
                </div>
                <div class="form-group mb-0">
                    <label for="">E-Mail</label>
                    <input type="text" class="form-control" id="ToEmail"  placeholder="E-Mail">
                    <span class="Class_span" id="lblEmail" style="color:red">&nbsp;</span>
                </div>
                <div class="submit mt-4">
                    <button class="btn btn-primary pointer btn-signin" id="btnsendMailCreate" type="button" onclick="">Send</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $("#ToName").keypress(function (event) {
            var inputValue = event.which;
            if (!(inputValue >= 65 && inputValue <= 122) && (inputValue != 32 && inputValue != 0)) {
                event.preventDefault();
            }
        });

        $("#ToEmail,#ToName").keypress(function (event) {
            if (event.which === 44) {
                event.preventDefault();
            }
        });

        $("#btnsendMailCreate").on("click", function () {
            var Name = $("#ToName").val();
            Name = Name.replace(/,/g, " ");
            var ToEmail = $("#ToEmail").val();
            var Name_ = ToEmail_ = false

            if (Name == "") {
                Name_ = true;
                $("#lblName").html("Please enter the Name").show();
            }
            else if (ValidateName(Name) == false) {
                 Name_ = true;
                $("#lblName").html("Please enter the valid Name").show();
            }
            else {
                $("#lblName").html("").show()
            }
            if (ToEmail == "") {
                ToEmail_ = true;
                $("#lblEmail").html("Please enter the Email").show();
            }
            else if (TaskEmail(ToEmail) == false)
            {
                 ToEmail_ = true;
                $("#lblEmail").html("Please enter the valid Email").show();
            }
            else {
                $("#lblEmail").html("").show();
            }

            if (Name_ == false && ToEmail_ == false) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSendMailToCustomer","Help")',
                    data: { Name: Name, Email: ToEmail },
                    async: false,
                    success: function (response) {
                        if (response == "success") {
                            setTimeout(Locatin_Reload, 3000);
                            Notiflix.Notify.Success('Mail sent successfully..!', { cssAnimationStyle: 'zoom', cssAnimationDuration: 500 });
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

        });
        function Locatin_Reload() {
            location.reload()
        }
        function ValidateName(data) {
            var letters = /^[A-Za-z._, ]+$/;
            if (!letters.test(data)) {
                return false;
            }
        }

        function TaskEmail(data) {
             var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!filter.test(data)) {
                return false
            }
        }
    })
</script>